*{ /* Default Settings - applies to all elements listed in document */
    -webkit-user-drag: none; /* default dragging - rest applies to various browsers*/
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* Highlight */
    user-select: none; /* default selection - rest applies to various browsers*/
    -ms-user-select: none;
    -moz-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
}
body{
    /* Background */
    background-image: linear-gradient(155deg, #DFE9CB 70%, #c0c9b0); /* Applies two colors smoothly transitioning*/
    background-attachment: fixed;
    
}
/* ========
Fonts
======== */
.font1{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font1Bold{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}
/* ========
Containers
======== */
#containerIntro{
    /* Background */
    display: flex;
    /* Alignment */
    align-items: flex-start;
    justify-content: space-between;;
    gap: 2rem;
    /* Text */
    color: #62903A;
}
#containerAbout{
    /* Alignment */
    margin: 1rem;
    gap: 5rem;
}

#mainIntroGroup{
    /* Background */
    background: #d7ff96;
    border: solid 0.23rem #1e472f;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    box-shadow: /* Creates a sharp shadow, then layers */
        0 0.5rem 1rem rgba(0, 0, 0, 0.1),
        0 1.5rem 3rem rgba(0, 0, 0, 0.05);
    /* alignment */
    margin-top: 1.5rem;
    margin-left: 2rem;
    padding: 1.5rem;
    gap: 1rem;
    /* sizing */
    width: clamp(30vw, 50vw, 60vw);
    /* Animation */
    transition: background-color 0.3s ease;
}
#mainIntroGroup:hover{
    /* Background */
    background-color: #c0e86a;
    /* Animation */
    transition: background-color 0.3s ease;
}
/* ========
Footer
======== */
#ftr{
    /* Background */
    background-color: #e7ebdf;
    /* Spacing */
    margin: 1rem;
    gap: 5rem;
    position: relative;
    bottom: 0;
}
/* ========
Elements
======== */
.mainIntroTitle{
    /* Background */

    /* Alignment */
    margin-left: 2rem;
    /* Text */
    color: #62903A;
    font-size: clamp(2rem, 3vw, 4rem);
}
.mainIntroSubTitle{
    /* Sizing */
    width: auto;
    height: auto;
    /* Text */
    font-size: clamp(1.5rem, 2vw, 3rem);
}

.introText {
    /* Background */
    display: flex;
    /* Alignment */
    flex-direction: column;
    margin-top: 0;
    margin: 2rem;
}

#logo{
    height: 50px;
}

/* Image sets */
.mainImgUnderline{
    /* Background */
     background-color: transparent;
     aspect-ratio: 276 / 180;
     /* Alignment */
     margin-top: -2rem;
     margin-left: 2rem;
     /* Sizing */
     width: clamp(1vw, 5vw, 40vw);
}
.mainImg1{
    /* Background */
    border: 0 solid transparent;
    border-radius: 1rem;
    box-shadow: /* Creates a sharp shadow, then layers */
        0 0.5rem 1rem rgba(0, 0, 0, 0.25),
        0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    aspect-ratio: 1024 / 1024;
    /* Alignment */
    margin: 2rem;
    gap: 2rem;
    /* Sizing */
    width: clamp(25vw, 35vw, 40vw);
    /* transition - when animation ends, transforms slowly back to place */
    transition: width 0.6s ease,transform 0.6s ease, box-shadow 0.6s ease;
}
#mainImg1:hover{
    /* Background */
    box-shadow: 
        0 1rem 2rem rgba(0, 0, 0, 0.3),
        0 2.5rem 5rem rgba(0, 0, 0, 0.25);
    /* Animation */
    transform: scale(1.02);
    transition: transform 1s ease;
}

/* ========
Media
======== */