*{ /* Default Settings - applies to all elements listed in document */
    -webkit-user-drag: none; /* default dragging - rest applies to various browsers*/
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* Highlight */
    user-select: none; /* default selection - rest applies to various browsers*/
    -ms-user-select: none;
    -moz-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
}
body{
    /* Background */
    background-image: linear-gradient(155deg, #cbd3a6 70%, #8e916b); /* Applies two colors smoothly transitioning*/
    background-attachment: fixed;
    
}
/* ========
Containers
======== */
#containerIntro{
    /* Background */
    display: flex;
    /* Alignment */
    align-items: flex-start;
    justify-content: space-between;;
    gap: 2rem;
    /* Text */
    color: #62903A;
}

#mainIntroGroup1{
    /* Background */
    background: #d7ff96;
    border: solid 0.23rem #1e472f;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    box-shadow: /* Creates a sharp shadow, then layers */
        0 0.5rem 1rem rgba(0, 0, 0, 0.1),
        0 1.5rem 3rem rgba(0, 0, 0, 0.05);
    /* alignment */
    margin-top: 1.5rem;
    margin-left: 2rem;
    padding: 1.5rem;
    gap: 1rem;
    /* sizing */
    width: clamp(30vw, 50vw, 60vw);
    /* Animation */
    transition: background-color 0.3s ease;
}
#mainIntroGroup1:hover{
    /* Background */
    background-color: #c0e86a;
    /* Animation */
    transition: background-color 0.3s ease;
}

#mainIntroGroup2{
    /* Background */
    display: flex;
    flex-direction: row;
    /* Alignment */
    margin: 2rem 1rem 1rem 2rem;
    gap: 2rem;
    justify-content: flex-start;
    text-align: center;
}
.mainIntroCards{
    /* Background */
    background-color: #e8ffe9;
    border: solid 0.1rem;
    border-radius: 1rem;
    /* Sizing */
    max-width: 15rem;
    /* Alignment */
    margin: 0 auto;
    padding: 1rem;
    /* Text */
    font-size: clamp(0.8rem, 1rem, 1.2rem);
    /* Animation */
    transition: transform 0.6s ease, background-color 0.9s ease, box-shadow 0.6s ease, color 0.6s ease;
}
.mainIntroCards:hover{
    /* Background */
    background-color: #b4d6b6;
    box-shadow: /* Creates a sharp shadow, then layers */
        0 0.5rem 1rem rgba(0, 0, 0, 0.25),
        0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    /* text */
    color: #153322;
    /* Animation */
    transform: scale(1.04);
    transition: transform 0.3s ease, background-color 0.6s ease, box-shadow 0.3s ease, color 0.3s ease;
}

#mainIntroImg{
    /* Background */
    background-image: url("/img/introimage.jpg");
    border: 0 solid transparent;
    border-radius: 1rem;
    box-shadow: /* Creates a sharp shadow, then layers */
        0 0.5rem 1rem rgba(0, 0, 0, 0.25),
        0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    aspect-ratio: 1024 / 1024;
    /* Alignment */
    margin: 2rem;
    margin-right: 4rem;
    gap: 2rem;
    position: relative;
    /* Sizing */
    width: clamp(25vw, 35vw, 40vw);
    /* Text */
    color:#c0c9b0;
    /* transition - when animation ends, transforms slowly back to place */
    transition: width 0.6s ease,transform 0.6s ease, box-shadow 0.6s ease;
}
#mainIntroImg:hover{
    /* Background */
    box-shadow: 
        0 1rem 2rem rgba(0, 0, 0, 0.3),
        0 2.5rem 5rem rgba(0, 0, 0, 0.25);
    /* Animation */
    transform: scale(1.02);
    transition: transform 1s ease;
}
.mainIntroImgNav{
    /* Background */
    background-color: #000000bb;
    border: 0 solid transparent;
    border-radius: 0.4rem;
    display: flex;
    /* sizing */
    width: 80%;
    /* Alignment */
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    justify-self: center;
    justify-content: center;
    /* Text */
    color: #c0c9b0;
    /* Animation */
    transition: transform 0.6s ease, color 0.2s ease;
}
.mainIntroImgNav:hover{
    /* Text */
    color: #e8ffe9;
    /* Animation */
    transform: scale(1.05);
    transition: transform 0.3s ease, color 0.2s ease;
}
/* ========
Elements
======== */
.mainIntroTitle{
    /* Background */
    border-bottom: solid 0.2rem #7fc99e;
    border-radius: 0.2rem;
    /* Sizing */
    width:fit-content;
    /* Alignment */
    margin-left: 2rem;
    /* Text */
    color: #62903A;
    font-size: clamp(2rem, 3vw, 4rem);
    /* Animation */
    transition: border-color 0.6s ease, color 0.6s ease;
}
.mainIntroTitle:hover{
    /* Background */
    border-color: #588a6d;
    /* Text */
    color: #456429;
    /* Animation */
    transition: border-color 0.3s ease, color 0.3s ease;
}

.mainIntroSubTitle{
    /* Sizing */
    width: auto;
    height: auto;
    /* Text */
    font-size: clamp(1.5rem, 2vw, 3rem);
    transition: color 0.6s ease;
}
.mainIntroSubTitle:hover{
    /* Text */
    color: #456429;
    /* Animation */
    transition: color 0.3s ease;
}

#mainIntroDesc{
    /* Animation */
    transition: color 0.6s ease;
}
#mainIntroDesc:hover{
    /* Text */
    color: #456429;
    /* Animation */
    transition: color 0.3s ease;
}

.introText {
    /* Background */
    display: flex;
    /* Alignment */
    flex-direction: column;
    margin-top: 0;
    margin: 2rem;
}

.cardSplit{
    /* Background */
    border-bottom: solid 0.2rem #7fc99e;
    border-radius: 0.2rem;
    /* Sizing */
    width: 80%;
    /* Alignment */
    margin: 0 auto;
    text-align: center;
    /* Animation */
    transition: border-color 0.6s ease, color 0.6s ease;
}
.cardSplit:hover{
    /* Background */
    border-color: #ccffe1;
    /* Text */
    color: #eaffd8;
    /* Animation */
    transition: border-color 0.3s ease, color 0.3s ease;
}

/* Image sets */
.mainIntroCardImg1 {
    /* Background */
    border: 0 solid transparent;
    border-radius: 1rem;
    box-shadow: /* Creates a sharp shadow, then layers */
        0 0.5rem 1rem rgba(0, 0, 0, 0.2),
        0 1.5rem 3rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    /* Alignment */
    margin-top: 1rem;
    gap: 2rem;
    /* Sizing */
    width: clamp(5vw, 10vw, 15vw);
    aspect-ratio: 1 / 1;
    /* transition - when animation ends, transforms slowly back to place */
    transition: transform 0.6s ease, border-radius 0.4s ease, box-shadow 0.6s ease;
}
.mainIntroCardImg1:active{
    /* Background */
    box-shadow: 
        0 1rem 2rem rgba(0, 0, 0, 0.5),
        0 2.5rem 5rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    /* Animation */
    transform: scale(1.2);
    transition: transform 0.3s ease, border-radius 0.2s ease, box-shadow 0.3s ease;
}
/* ========
Media
======== */

/* ========
Text
======== */
.font1{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font1Bold{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#lawncare-anchor {
    text-decoration: none;
    color: inherit;
}
#aeration-anchor {
    text-decoration: none;
    color: inherit;
}
#treatments-anchor {
    text-decoration: none;
    color: inherit;
}